venv/ 
venv/ 
venv/ 
__pycache__/
"__pycache__/" 
"*.pyc" 
"__pycache__/" 
"*.pyc" 
"__pycache__/" 
"*.pyc" 
"__pycache__/" 
"*.pyc" 
"1.24.1/" 
"14.0.0/" 
"2.13.0/" 
"2.2.0/" 
"2023.3/" 
"requirements_backup.txt" 
